* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img,
video {
    width: 100%;
    vertical-align: middle;
}

*,
::before,
::after {
    box-sizing: border-box;
}
